<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jth-smart-space-azurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3371af52-677c-4728-a58f-b139ee5bcb63/resourceGroups/JTH-Smart-Space/providers/Microsoft.Web/sites/JTH-Smart-Space-AzureFunctions</ResourceId>
    <UserName>$JTH-Smart-Space-AzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jth-smart-space-azurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>